.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: aliceblue;
  padding-left: 40px;
  padding-right: 40px;
}

.nav-heading {
  font-family: 'Roboto';
  font-weight: 900;
  font-size: 30px;
}

.logout-button {
  font-family: 'Roboto';
  font-weight: 600;
  font-size: 14px;
  height: 40px;
  width: 150px;
  margin-left: 20px;
  border: 1px solid gray;
  border-radius: 4px;
  outline: none;
}
